<h2>Bản đồ khu vực</h2>

<div id="map" style="width:100%; height:650px;"></div>

<div id="matrixResult" style="
margin-top:20px;
background:white;
color:black;
padding:10px;
border-radius:8px;
"></div>